<ion-header>

  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor = "let data of favorites; let i = index"  (click) = "onView(data)">
        <ion-item>
            <ion-thumbnail item-start>
              <img [src]="data.backdrop_path != null ? 'http://image.tmdb.org/t/p/w342/' + data.poster_path : 'assets/imgs/question-mark.png'" [alt] = "data.media_type == 'movie' ? data.title : data.name">
            </ion-thumbnail>
            <h2>{{data.media_type == 'movie' ? data.title : data.name}}</h2>
            <p *ngIf="data.media_type === 'movie'">{{data.media_type | uppercase}} • {{data.release_date ? data.release_date : 'Release unknown'}} </p>
            <p *ngIf="data.media_type === 'tv'">{{data.media_type | uppercase}} • {{data.first_air_date | date:'dd/MM/yyyy'}} </p>
          </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click) = "onDelete(i)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
